* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

article, aside, dialog, figcaption, figure, footer, header, main, menu, nav, section, svg {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  vertical-align: middle;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

a {
  cursor: pointer;
}

strong {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

img {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  vertical-align: top;
}

caption, th {
  font-weight: bold;
  text-align: left;
}

label {
  cursor: pointer;
}

label span {
  vertical-align: middle;
}

input, textarea, select {
  padding: 4px 8px;
  border-radius: 0;
  vertical-align: middle;
}

input:not([type="radio"]):not([type="checkbox"]), textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="radio"], input[type="checkbox"], input[type="submit"] {
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

a, area, button, input, label, select, textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

article {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

