
@media screen and (max-width: 750px) {
    :not(.eclinks-modal img) {
        max-width: 100%;
        height: auto;
    }

    body {
        color: #444444;
        font-size: 20px;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 400;
    }

    #container {
        overflow: hidden;
    }

    #sec_kv.rvhfm {
        background-image: url(./images/main_bg_sp.jpg);
        background-size: 100% auto;
        height: 160vw;
    }

    #sec_kv.rvhfm .inner {
        text-align: center;
        height: 100%;
        position: relative;
    }

    #sec_kv.rvhfm .site_logo {
        margin-bottom: 3vw;
    }

    #sec_kv .site_logo {
        text-align: center;
        width: 20vw;
        margin: auto;
    }

    #sec_kv .site_logo img {
        width: 100%;
    }

    img {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        vertical-align: top;
    }

    #sec_kv.rvhfm h1 {
        width: 100%;
        margin: 0;
        padding: 0 5vw;
    }
    
    #sec_kv.rvhfm h1 {
        filter: drop-shadow(0 0 5px white);
    }

    #sec_kv.rvhfm .pdName {
        padding: 0 10vw;
        top: 33vw;
    }
    #sec_kv.rvhfm .pdName {
        width: 100%;
        filter: drop-shadow(0 0 5px white);
        z-index: 2;
        position: absolute;
        left: 0;
    }

   
    #sec_kv.rvhfm .mainNew {
        position: absolute;
        top: 200px;
        left: 50%;
        margin-left: -365px;
        z-index: 0;
    }

    #sec_kv.rvhfm .mainNew {
        top: 41vw;
        margin-left: -47vw;
        width: 18vw;
    }

    
    #sec_kv.rvhfm .mainImg {
        margin-top: 20px;
        position: relative;
        z-index: 1;
    }

    #sec_kv.rvhfm .mainImg {
        margin-top: 10vw;
    }

    .pc-s {
        display: none;
    }


    #sec_kv.rvhfm .mainCopy {
        bottom: 2vw;
        padding: 0 5vw;
    }

    #sec_intro {
        background-image: url(./images/r-bg-sp.jpg);
        background-size: 300px;
    }

    #sec_intro .inner {
        padding-top: 20vw;
    }

    #sec_intro .c_ttl {
        width: 84vw;
        margin: 0 auto 5vw auto;
    }

    #sec_intro .c_ttl + p {
        text-align: center;
        line-height: 2;
    }

    p {
        font-feature-settings: "palt";
    }

    #sec_intro .list {
        margin-top: 60px;
    }

    #sec_intro .list li {
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        opacity: 0;
        transition: 1s;
        transform: translateX(30%);
    }

    #sec_intro .list li {
        justify-content: center;
    }

    #sec_intro .list li:nth-child(3) .fig {
        order: 2;
        width: 47vw;
    }

    #sec_intro .list li .fig {
        margin: 0 !important;
    }

    #sec_intro .list li .wrap {
        margin: 0 !important;
        flex: 1;
    }
    #sec_intro .list li .wrap {
        text-align: left;
    }

    #sec_intro .list li:nth-child(1) .fig {
        order: 2;
        width: 45vw;
    }

    #sec_intro .att_txt {
        margin-top: 30px;
    }
    #sec_intro .att_txt {
        text-align: left;
        font-size: 16px;
        display: flex;
        justify-content: flex-end;
    }

    #sec_interest .row.active {
        transform: translateY(0);
        opacity: 1;
    }
    #sec_interest .row {
        opacity: 0;
        transform: translateY(-10%);
        transition: 1s;
    }

    #sec_interest .row .thumb {
        width: 100%;
        position: relative;
        margin-bottom: 13vw;
    }

    #sec_interest_1 .row dl {
        text-align: center;
    }

    #sec_interest_1 .row dl dt {
        margin-bottom: 4vw;
    }

    #sec_interest_1 .row img.ttl {
        width: 70vw;
        height: auto;
        margin: 0 auto 9vw;
    }

    #sec_interest_1 .row dl dt img.sttl {
        width: 63.2vw;
        height: auto;
    }

    #sec_interest_1 .row dl dd {
        font-weight: 400;
        line-height: 2;
        font-feature-settings: "palt";
    }












    #sec_lineup h2 {
        background: #004845;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        height: 11vw;
    }

    #sec_lineup h2 img {
        width: 23vw;
    }

    #sec_lineup .lineup_area {
        background-position: center top;
        background-size: cover;
    }

    h3 {
        font-feature-settings: "palt";
    }

    #sec_lineup .lineup_area .row.active {
        opacity: 1;
        transform: translateX(0);
    }

    #sec_lineup .lineup_area .row {
        opacity: 0;
        transition: 1s;
        transform: translateX(30%);
        padding-top: 10vw;
    }


   
}