
@media screen and (max-width: 750px) {
    :not(.eclinks-modal img) {
        max-width: 100%;
        height: auto;
    }

    body {
        color: #444444;
        font-size: 20px;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 400;
    }

    #container {
        overflow: hidden;
    }

    #sec_kv.rvhfm {
        background-image: url(./images/main_bg_sp.jpg);
        background-size: 100% auto;
        height: 160vw;
    }

    #sec_kv.rvhfm .inner {
        text-align: center;
        height: 100%;
        position: relative;
    }

    #sec_kv.rvhfm .site_logo {
        margin-bottom: 3vw;
    }

    #sec_kv .site_logo {
        text-align: center;
        width: 20vw;
        margin: auto;
    }

    #sec_kv .site_logo img {
        width: 100%;
    }

    img {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        vertical-align: top;
    }
}