@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;600;700&display=swap");

body {
    color: #444444;
    font-size: 18px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    width: 100%;
    height: 100%;
}

#container {
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    font-size: 100%;
    text-decoration: none;
    vertical-align: baseline;
}

#sec_kv.rvhfm {
    background: url(./images/main_bg_pc.jpg) center top no-repeat;
    height: 780px;
}

#sec_kv.rvhfm .site_logo {
    margin-bottom: 20px;
}
#sec_kv .site_logo {
    display: flex;
    justify-content: center;
    margin: 0 0 45px;
}
#sec_kv.rvhfm .inner {
    text-align: center;
    height: 100%;
    position: relative;
}
#sec_kv .inner {
    width: 960px;
    height: 100%;
    margin: auto;
    position: relative;
}

img {
    backface-visibility: hidden;
    vertical-align: top;
}

#sec_kv.rvhfm .site_logo {
    margin-bottom: 20px;
}
a {
    cursor: pointer;
}
#sec_kv .site_logo {
    display: flex;
    justify-content: center;
    margin: 0 0 45px;
}

#sec_kv.rvhfm h1 {
    filter: drop-shadow(0 0 5px white);
}
#sec_kv h1 {
    text-align: center;
}
h1 {
    font-feature-settings: "palt";
}

#sec_kv.rvhfm .pdName {
    top: 210px;
}
#sec_kv.rvhfm .pdName {
    width: 100%;
    filter: drop-shadow(0 0 5px white);
    z-index: 2;
    position: absolute;
    left: 0;
}

#sec_kv.rvhfm .mainNew {
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -365px;
    z-index: 0;
}

#sec_kv.rvhfm .mainImg {
    margin-top: 20px;
    position: relative;
    z-index: 1;
}

#sec_kv.rvhfm .mainCopy {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    filter: drop-shadow(0 0 5px white);
    z-index: 2;
}

h2 {
    font-feature-settings: "palt";
}

#sec_intro {
    background-image: url(./images/r-bg.jpg);
}

#sec_intro .inner {
    width: 960px;
    margin: auto;
    padding: 105px 0 80px;
}

#sec_intro .c_ttl.active {
    transform: translateY(0);
    opacity: 1;
}

#sec_intro .c_ttl {
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    transform: translateY(-35%);
    transition: 1s;
    opacity: 0;
}

img {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    vertical-align: top;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

#sec_intro .c_ttl::after {
    content: "";
    background-image: url(../img/sec_intro/mark.svg);
    background-repeat: no-repeat;
    background-size: 82px;
    display: block;
    width: 82px;
    height: 82px;
    position: absolute;
    right: 160px;
    top: -40px;
}

#sec_intro .c_ttl + p {
    text-align: center;
    letter-spacing: .5px;
    line-height: 2;
    font-weight: 600;
}
p {
    font-feature-settings: "palt";
}

.sp-s {
    display: none;
}

#sec_intro .list {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: flex-start;
    margin-top: 60px;
}
ul {
    list-style: none;
}

#sec_intro .list.active li {
    transform: translateX(0);
    opacity: 1;
}

#sec_intro .list li {
    width: 25%;
}

#sec_intro .list li .fig {
   
    flex-shrink: 0;
}

#sec_intro .list li:nth-child(1) .fig img {
    position: relative;
    right: -2px;
}

img {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    vertical-align: top;
}

#sec_intro .list li:nth-child(1) .scene {
    color: #0F287B;
}

#sec_intro .list li .scene {
    font-size: 32px;
    line-height: 1.4;
    height: 5.6rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#sec_intro .list li .scene {
    margin-bottom: 10px;
    font-weight: 600;
}
p {
    font-feature-settings: "palt";
}

#sec_intro .list li .name {
    font-size: 18px;
}
p {
    font-feature-settings: "palt";
}

#sec_intro .list li .fragrance {
    font-size: 18px;
}
#sec_intro .list li .fragrance {
   
    margin-top: 5px;
}
p {
    font-feature-settings: "palt";
}

sup {
    font-size: 0.6em;
    vertical-align: top;
}

element.style {
    transition-delay: 0.1s;
}
#sec_intro .list.active li {
    transform: translateX(0);
    opacity: 1;
}
#sec_intro .list li {
    width: 25%;
}

#sec_intro .list li {
    width: 33.33333%;
    text-align: center;
    opacity: 0;
    transition: 1s;
    transform: translateX(30%);
}

#sec_intro .list li .new {
    position: absolute;
    top: 5px;
    right: 10px;
}

img {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    vertical-align: top;
}
#sec_intro .list li:nth-child(2) .scene {
    color: #ae1c87;
}

#sec_intro .list li .scene {
    font-size: 21px;
    line-height: 1.4;
    height: 80px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#sec_intro .list li:nth-child(3) .fig img {
    position: relative;
    top: 6px;
    right: -10px;
}
img {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    vertical-align: top;
}

#sec_intro .list li:nth-child(3) .scene {
    color: #59337C;
}

#sec_intro .list li:nth-child(4) .scene {
    color: #FCAE01;
}
#sec_intro .list li .note {
    font-size: 13px;
    margin-top: 5px;
}
#sec_intro .att_txt {
    margin-top: 30px;
}
#sec_intro .att_txt {
    text-align: left;
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
}

#sec_interest {
    padding-bottom: 155px;
}
#sec_interest_1 {
    padding-top: 115px;
    width: 960px;
    margin: auto;
}
#sec_interest .row.active {
    opacity: 1;
}
#sec_interest .row {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    opacity: 0;
    transition: 1.5s;
}
#sec_interest .row .thumb {
    width: 492px;
    flex-shrink: 0;
    position: relative;
}
#sec_interest_1 .row .thumb {
    padding-left: 22px;
}
#sec_interest_1 .row .thumb .point {
    left: 2px;
    top: -54px;
}
#sec_interest .row .thumb .point {
    position: absolute;
}
#sec_interest_1 .row .thumb .point p {
    font-size: 13px;
}
#sec_interest .row .thumb .point p {
    display: block;
    width: 144px;
    height: 144px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    background: #D2DFDE;
    border: 6px solid white;
    z-index: 2;
    font-size: 16px;
    line-height: 1.4;
    color: #004845;
    border-radius: 50%;
    text-align: center;
    font-weight: 600;
    position: relative;
}
#sec_interest .row .thumb .point p span {
    display: block;
}
#sec_interest .row .thumb .point p::before {
    content: "";
    display: block;
    border: 3px solid #004845;
    width: 148px;
    height: 148px;
    position: absolute;
    left: -8px;
    top: -8px;
    z-index: -1;
    border-radius: 50%;
}

#sec_interest_1 .row dl {
    width: calc(100% - 520px);
}
#sec_interest_1 .row dl dt {
    margin-bottom: 20px;
}
.sp-s {
    display: none;
}
#sec_interest_1 .row dl dd {
    font-weight: 400;
    line-height: 2;
    font-feature-settings: "palt";
}
#sec_interest_1 .row dl dd + dt {
    margin-top: 40px;
}
#sec_interest_1 .row dl dd {
    font-weight: 400;
    line-height: 2;
    font-feature-settings: "palt";
}
#sec_interest_1 .row dl dd small {
    font-size: 13px;
}
#sec_interest_2 {
    padding-top: 105px;
    width: 960px;
    margin: auto;
}
#sec_interest .c_ttl.active {
    transform: translateY(0);
    opacity: 1;
}
#sec_interest .c_ttl {
    text-align: center;
    margin-bottom: 60px;
    position: relative;
    transform: translateY(-35%);
    transition: 1s;
    opacity: 0;
}
h2 {
    font-feature-settings: "palt";
}

#sec_interest_2 .row .thumb {
    order: 1;
    padding-right: 22px;
}
#sec_interest_2 .row .thumb .point {
    right: 2px;
    bottom: -47px;
}
#sec_interest_2 .row .txt {
    width: calc(100% - 520px);
    line-height: 2;
}

#sec_lineup .lineup_area .row {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: flex-end;
    padding: 70px 0 85px;
}

#sec_lineup .lineup_area#sec_lineup_hfm {
    background-image: url(./images/bg5.jpg);
}

#sec_lineup h2 {
    background: #004845;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    height: 90px;
}
h2 {
    font-feature-settings: "palt";
}

.sp-s {
    display: none;
}
h3 {
    font-feature-settings: "palt";
}

#sec_lineup .lineup_area .row.active .thumb {
    position: relative;
}
#sec_lineup .lineup_area .row.active .thumb {
    opacity: 1;
    transform: translateX(0);
}

#sec_lineup .lineup_area .row .thumb {
    width: 520px;
    opacity: 0;
    transition: 1s;
    transform: translateX(30%);
}

#sec_lineup .lineup_area#sec_lineup_hfm .row .thumb .new {
    position: absolute;
    top: -30px;
    right: 17px;
}

#sec_lineup .lineup_area#sec_lineup_hfm .row .detal_area {
    padding-bottom: 0 !important;
}
#sec_lineup .lineup_area .row.active .detal_area {
    transform: translateY(0);
    opacity: 1;
}
#sec_lineup .lineup_area .row .detal_area {
    width: 440px;
    padding-bottom: 40px;
    opacity: 0;
    transition: 1s;
    transform: translateY(-20%);
}

#sec_lineup .lineup_area .row .detal_area h3 {
    margin-bottom: 30px;
}

#sec_lineup .lineup_area .row .detal_area .name {
    font-size: 20px;
    letter-spacing: .5px;
    margin-bottom: 0.2em;
}
p {
    font-feature-settings: "palt";
}

#sec_lineup .lineup_area .row .detal_area .fragrance {
    font-size: 25px;
    margin-bottom: 1em;
}

#sec_lineup .lineup_area .row .detal_area .price {
    position: relative;
}

#sec_lineup .lineup_area .row .detal_area .price p + small {
    font-size: 14px;
}
#sec_lineup .lineup_area .row .detal_area .price p {
    line-height: 1.83333;
}

.setDetail {
    width: 100%;
    margin-top: 15px;
}

.setDetail h4 {
    font-size: 15px;
    font-weight: bold;
}
h4 {
    font-feature-settings: "palt";
}

.setDetail dl {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 14px;
}

#sec_lineup .lineup_area .row .detal_area a.btn {
    background-image: url(./images/btn-shop.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 340px auto;
    width: 340px;
    height: 55px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    color: white;
    font-size: 23px;
    font-weight: 600;
    transition: .1s;
    margin-top: 30px;
    padding-top: 0;
    padding-bottom: 3px;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 4px 0px 0px #001419;
    box-shadow: 0px 4px 0px 0px #001419;
    border-radius: 11px;
}
.eclinks-btn.st a {
    background: none;
    border-radius: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.eclinks-btn a {
    display: block;
    position: relative;
    margin: 0 auto 50px;
    padding: 20px;
    width: 478px;
    background-color: #004b4a;
    border-radius: 10px;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
}

#sec_lineup .lineup_area .row.active .thumb .badge {
    position: absolute;
    top: 335px;
    left: 10px;
}

#sec_lineup .lineup_area#sec_lineup_1 {
    background-image: url(./images/bg1.jpg);
}

#sec_lineup .lineup_area#sec_lineup_3 {
    background-image: url(./images/bg3.jpg);
}

#sec_lineup .lineup_area#sec_lineup_2 {
    background-image: url(./images/bg2.jpg);
}

#sec_lineup .lineup_area#sec_lineup_4 {
    background-image: url(./images/bg4.jpg);
}

#sec_trust .inner {
    width: 960px;
    margin: auto;
    padding: 115px 0 0;
}

#sec_trust .inner h2 {
    text-align: center;
    margin-bottom: 60px;
    position: relative;
    transform: translateY(-35%);
    transition: 1s;
}

#sec_trust .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 145px;
    padding: 0 55px 0 25px;
}

#sec_trust .row .thumb {
    width: 470px;
    position: relative;
}

.sp-s {
    display: none;
}

#sec_trust .row .txt {
    flex: 1;
    padding-left: 20px;
}

#sec_trust .row .txt {
    line-height: 2;
    letter-spacing: 1px;
}

#sec_trust .row .txt span {
    display: inline-block;
    margin-top: 10px;
}

.vegan {
    margin: 0 auto 145px auto;
    text-align: center;
}

#sec_trust h3 {
    text-align: center;
    margin-bottom: 25px;
    position: relative;
    transform: translateY(-35%);
    transition: 1s;
    opacity: 0;
    opacity: 1;
}
h3 {
    font-feature-settings: "palt";
}

#sec_trust .movie {
    width: 550px;
    margin: auto;
    position: relative;
}

#sec_onsale {
    background-image: url(./images/bg.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-top: 120px;
    padding-bottom: 45px;
}

#sec_onsale .bnrList {
    margin-bottom: 50px;
}

#sec_onsale .bnrList ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
ul {
    list-style: none;
}

#sec_onsale .bnrList ul li {
    margin: 10px;
}

#sec_onsale figure {
    text-align: center;
}

#sec_onsale .btn_area {
    background: white;
    border-radius: 24px;
    padding: 60px 0 45px;
    width: 1082px;
    margin: 15px auto 0;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    position: relative;
}

#sec_onsale .btn_area h3 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #004845;
    letter-spacing: 2px;
    margin-bottom: 25px;
}

#sec_onsale .btn_area .cta_list {
    display: flex;
    justify-content: center;
    width: 935px;
    margin: 0 auto 45px;
}

#sec_onsale .btn_area .cta_list li {
    margin: 0 13px;
}

#sec_onsale .btn_area .cta_list li a {
    background-image: url(./images/btn-cart.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 454px auto;
    width: 454px;
    height: 65px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    color: white;
    font-size: 27px;
    font-weight: 600;
    transition: .1s;
    padding-top: 0;
    padding-bottom: 0;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 4px 0px 0px #001419;
    box-shadow: 0px 4px 0px 0px #001419;
    border-radius: 14px;
}

#sec_onsale .btn_area .cta_list li.contact a {
    background-image: url(./images/btn-contact.png);
    font-size: 20px;
    padding-bottom: 0px;
}

#sec_onsale .btn_area dl {
    text-align: center;
}

#sec_onsale .btn_area dl dt {
    font-size: 25px;
    letter-spacing: 1px;
    color: #004845;
    font-weight: 600;
    margin-bottom: 12px;
}

#sec_onsale .btn_area dl dd {
    letter-spacing: .5px;
    font-weight: 600;
    font-feature-settings: "palt";
    line-height: 1.72222;
}

#sec_onsale .btn_area dl dd small {
    font-size: 15px;
    font-weight: 400;
}

#sec_footer {
    padding: 30px 0;
    text-align: center;
}

#sec_footer .links a {
    font-size: 15px;
    font-weight: 400;
    color: #444444;
    text-decoration: underline;
}

#sec_footer .copy {
    font-size: 15px;
    margin-top: 5px;
}

.fix_online_btn.loaded {
    opacity: 1;
}
.fix_online_btn {
    position: fixed;
    right: 10px;
    bottom: 10px;
    opacity: 0;
    transition: 1s;
    z-index: 10;
}

.eclinks-btn.st a {
    background: none;
    border-radius: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}